<%- include('partials/header'); %>

<div class="form-showcase">
    <div class="contact-text">
        <h2>For Work and Collaborations</h2>
        <p>Please fill out the form to contact me!</p>
    </div>
    <div class="contact-form">
        <form action="/contact" method="post">
            <label for="name">Name: </label>
            <input type="text" name="userName" placeholder="Name of Individual / Company">
            <br>
            <label for="userEmail" >Email: </label>
            <input type="email" name="userEmail" placeholder="Email for Contact!" id="emailLabel">
            <br>
            <label for="workRelated">Reason: </label>
            <br>
            <textarea name="workRelated" id="workTopic" cols="30" rows="10" placeholder="Why you want to contact me?"></textarea>
            <br>
            <button type="submit" onclick="confirmation()">Submit</button>
        </form>
    </div>
</div>

<script>
    const confirmation = ()=>{
        alert("Your Message Successfully Sent!");
    }
</script>

<div class="social-showcase">
    <h2 class="title" id="social-title" onmouseover="changeTitle()" onmouseleave="changeTitle2()">Social Handles</h2>
    <div class="social-handles">
        <a href="<%- linkedInURL %>"><i class="fa-brands fa-linkedin fa-5x"></i></a>
        <a href="<%- instagramURL %>"><i class="fa-brands fa-square-instagram fa-5x"></i></a>
        <a href="<%- githubURL %>"><i class="fa-brands fa-github fa-5x"></i></a>
        <a href="<%- youtubeURL %>"><i class="fa-brands fa-youtube fa-5x"></i></a>
    </div>
</div>

<script>
    const socialTitle = document.getElementById('social-title');

    const changeTitle = ()=>{
        socialTitle.textContent = 'Contact Me Here'
    }

    const changeTitle2 = ()=>{
        socialTitle.textContent = 'Social Handles'
    }
</script>

<%- include('partials/footer'); %>